@import 'variables';

.App-icon {
    width: 24px;
    height: 24px;
}

.App-title {
    font-family: 'Gotham Pro Medium', sans-serif;
    font-size: $appTitleFontSize;
    text-align: center;
    text-transform: uppercase;

    text-shadow: 3px 3px 0 $appShadow;
}
