@font-face {
    font-family: 'Gotham Pro Regular';
    src: url('../fonts/GothamProRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Gotham Pro Medium';
    src: url('../fonts/GothamProMedium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Gotham Pro Light';
    src: url('../fonts/GothamProLight.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
