@import 'variables';

.hiit-timer__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 10px auto;
    padding: 20px;

    box-shadow: 0 0 10px $appShadow;
}

.hiit-timer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hiit-timer__stage {
    font-size: $timerStageFontSize;
}

.hiit-timer__time-wrapper {
    margin: 50px 0;
}

.hiit-timer__time {
    font-family: 'Gotham Pro Light', sans-serif;
    font-size: $timerTimeFontSize;
}

.timer-buttons {
    display: flex;
}

.hiit-timer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-block__title {
    font-family: 'Gotham Pro Medium', sans-serif;
    text-transform: uppercase;
}

@media (max-width: 400px) or (max-height: 710px) {
    .hiit-timer__inner {
        margin: 0 auto;
        padding: 0;
        min-height: 100vh;

        box-shadow: none;
    }

    .hiit-timer__stage {
        font-size: 75px;
    }
}

@media (max-height: 710px) {
    .hiit-timer__time-wrapper {
        margin: 20px 0;
    }
}

@media (max-height: 650px) {
    .hiit-timer__time-wrapper {
        margin: 10px 0;
    }
}
