@import 'fonts';
@import 'variables';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Gotham Pro Regular', sans-serif;
    font-size: $mainAppFontSize;

    color: $appBlack;

    user-select: none;
}

*::selection {
    color: $appBackground;
    background-color: $appBlue;
}

body {
    background-color: $appBackground;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 8px;

    //border-right: 1px solid red;
    //border-left: 1px solid red;
}
