@import 'variables';

.settings-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: 25px 0;
}

.settings-inputs__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    width: 100%;
    margin: 5px 0;
}

.settings-inputs__input {
    width: 50px;
    padding: 3px;

    text-align: center;

    border: none;
    border-bottom: 2px solid $appBlack;
    background-color: transparent;

    outline: none;
}

.settings-inputs__input:focus {
    border-bottom: 2px solid $appBlue;
}

.timer-settings__tip {
    font-size: $appSmallFontSize;
    text-align: center;

    color: $appGreen;
}

@media (max-width: 440px) {
    .settings-inputs {
        width: 60%;
    }
}

@media (max-width: 315px) {
    .settings-inputs {
        width: 75%;
    }
}