@import 'variables';

.timer-tips__title {
    margin-bottom: 25px;
}

.timer-tips__tip {
    width: 100%;
    margin: 8px 0;

    text-align: justify;
}

.timer-tips__span {
    text-transform: uppercase;

    color: $appBlue;
}
