$appBackground: #fefefe;
$appShadow: #d8d8d8;

$appBlack: #1b2129;
$appBlue: #1299f6;
$appLightBlue: rgba(18, 153, 246, 0.15);
$appRed: #ff4400;
$appLightRed: rgba($appRed, 0.75);
$appGreen: #01dc57;

$mainAppFontSize: 20px;
$appTitleFontSize: 30px;
$appSmallFontSize: 16px;
$timerStageFontSize: 85px;
$timerTimeFontSize: 120px;

$appTransitionDuration: 0.2s;
